.vs
*/bin/*
*/obj/*
/WapProjTemplate1
/WapProjTemplate2/WapProjTemplate2_TemporaryKey.pfx
/PixelRuler/generic.xaml
/WapProjTemplate2/BundleArtifacts
/WapProjTemplate2/AppPackages
/PixelRuler/Properties/launchSettings.json
