<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PixelRuler.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PixelRuler.Properties.Settings>
            <setting name="AnnotationColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="CloseToTray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DayNightMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OnLaunchAction" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GlobalShortcutEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GlobalShortcutKey" serializeAs="String">
                <value>59</value>
            </setting>
            <setting name="GlobalShortcutModifiers" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="StartAtWindowsStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LaunchStartupAction" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DefaultTool" serializeAs="String">
                <value>0</value>
            </setting>
        </PixelRuler.Properties.Settings>
    </userSettings>
</configuration>