<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PixelRuler.Properties.Recents" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="PixelRuler.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PixelRuler.Properties.Recents>
            <setting name="ShowGridLines" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RulerOn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SelectedTool" serializeAs="String">
                <value>0</value>
            </setting>
        </PixelRuler.Properties.Recents>
        <PixelRuler.Properties.Settings>
            <setting name="AnnotationColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="DayNightMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OnLaunchAction" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GlobalShortcutsEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GlobalShortcutFullscreenKey" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GlobalShortcutFullscreenModifiers" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LaunchStartupAction" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DefaultTool" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="GlobalShortcutWindowKey" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GlobalShortcutWindowModifiers" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GlobalShortcutRegionKey" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GlobalShortcutRegionModifiers" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GlobalShortcutQuickColorKey" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GlobalShortcutQuickColorModifiers" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GlobalShortcutQuickMeasureKey" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GlobalShortcutQuickMeasureModifiers" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DefaultPathInfo" serializeAs="String">
                <value />
            </setting>
            <setting name="AdditionalPathInfos" serializeAs="String">
                <value />
            </setting>
            <setting name="CommandTargets" serializeAs="String">
                <value />
            </setting>
            <setting name="FirstTimeRunning" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CloseToTray" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StartAtWindowsStartup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowToastAfter" serializeAs="String">
                <value>2</value>
            </setting>
        </PixelRuler.Properties.Settings>
    </userSettings>
</configuration>